<div class="container">
  <div class="header">
    <!-- <div class="text-box">
      <button mat-raised-button color="accent" [routerLink]="['', 'map']">Поехали!</button>
    </div> -->
  </div>

  <div class="go-map">
    <button mat-raised-button color="accent" [routerLink]="['', 'map']">Поехали!</button>
  </div>

  <div class="stats_block">
    <mat-card *ngFor="let i of stats" class="stat_card">
      <div class="stat_number">{{i.value}}</div>
      <div class="stat_info">{{i.info}}<mat-icon>{{i.icon}}</mat-icon>
      </div>
    </mat-card>
  </div>

  <h1>{{headerSource}}</h1>
  <div class="partners-block">
    <mat-card *ngFor="let s of sources" class="source-card">
      <mat-card-header class="source-card-header">
        <img mat-card-avatar [src]="s.ava">
        <mat-card-title>{{s.title}}</mat-card-title>
        <mat-card-subtitle [ngStyle]="{'color': 'white'}" class="source-card-subtitle">
          {{s.subtitle}}
        </mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="s.image" class="main-card-image">
    </mat-card>
  </div>

  <div class="graphs_block">
  </div>
</div>
