<div class="container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>1. Расположение предполагаемых заправок с учетом парковок</mat-card-title>
        </mat-card-header>
        <img src="../../assets/first_step.png">
    </mat-card>

    <mat-card>
        <mat-card-header>
            <mat-card-title>2. Расширение зоны покрытия заправок</mat-card-title>
        </mat-card-header>
        <img src="../../assets/second_step.png">
    </mat-card>

    <mat-card>
        <mat-card-header>
            <mat-card-title>3. Кластеризация с учетом существующих заправок</mat-card-title>
        </mat-card-header>
        <img src="../../assets/third_step.png">
    </mat-card>
</div>