<mat-sidenav-container [hasBackdrop]="selectBackdrop()">
  <mat-sidenav #sidenav [disableClose]="!this.settings.isMobile" [mode]="selectModeSidenav()"
    [opened]="!this.settings.isMobile">
    <app-sidenav-map (selectedCity)="handleSelectCity($event)" (getParkingsEvent)="handleGetParkings($event)"
      (getEVs)="handleGetEVs($event)" (getEVPredictEvent)="handleEVPredict($event)"></app-sidenav-map>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class=" menu">
      <button mat-mini-fab color="primary" *ngIf="this.settings.isMobile" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div class="container-map">
      <ya-map #map [center]="position.center" [zoom]="12" [state]="{controls: []}" (ready)="onMapReady($event)">
        <!-- <ya-placemark *ngFor="let placemark of placemarks" [geometry]="placemark.geometry"
          [properties]="placemark.properties" [options]="placemark.options">
        </ya-placemark> -->
      </ya-map>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
