@import "../../styles.scss";

$widthSidenav: 280px;
$widthContainerMapMobile: 395px;
$widthContainerMapPC: 490px;
$heightSidenavContainer: 85vh;

mat-sidenav-container {
  min-height: $heightSidenavContainer;
  background-color: white;

}
mat-sidenav {
  width: $widthSidenav;
  padding: $paddingValue;
}
mat-sidenav-content {
  flex-direction: column;
  align-items: center;
  height: inherit;
}

mat-sidenav-content,
.menu {
  display: flex;
}

.menu,
.container-map {
  width: 100%;
}


.container-map {
  padding: $paddingValue;
  border-radius: $borderRadiusValue;
  height: 90vh;
}

@media screen and (max-width: 770px){
  .container-map{
    height: 83vh;
    padding: 0px 20px;
    padding-bottom: 20px;
  }
  .menu{
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    width: auto;
  }
  .mat-mdc-fab, .mat-mdc-mini-fab {
    box-shadow: none;
  }
  mat-sidenav-content {
    align-items: flex-start;
  }
}
