<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Расположение предполагаемых заправок с учетом парковок</mat-card-title>
    </mat-card-header>
    <img src="../../assets/mm1.png">
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Кластеризация с учетом существующих заправок</mat-card-title>
    </mat-card-header>
    <img src="../../assets/mm2.png">
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Внутри кластера убираем заправку с наименьшей нагрузкой, каждый раз
        пересчитывая нагрузки</mat-card-title>
    </mat-card-header>
    <img src="../../assets/mm3.png">
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Расчет срока окупаемости предполагаемой заправки</mat-card-title>
    </mat-card-header>
    <img src="../../assets/mm4.png" class="last_img">
    <ul>
      <li>Сэзс – совокупная стоимость ЭЗС, руб;</li>
      <li>Р – мощность ЭЗС, кВт;</li>
      <li>t – время одной зарядки, ч;</li>
      <li>Сз – стоимость 1 кВтч заправки, руб;</li>
      <li>Сээ – стоимость закупаемой ЭЭ, руб;</li>
      <li>η – коэффициент, учитывающий потери в подводящей сети, о.е.;</li>
      <li>n – количество заряжаемых электромобилей в день</li>
    </ul>
  </mat-card>
</div>
